<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/NlogInternal.log">
	<time type="FastLocal" />
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="appName" value="MSXXXXX" />
	
	<targets>
		<target xsi:type="Database"
				name="dbTarget"
				connectionString="${configsetting:name=DB_CONNECTION}"
				dbProvider="System.Data.SqlClient.SqlConnection,System.Data.SqlClient"
				commandText="exec dbo.sp_Ms_ScriviLog @Machine,@Applicativo,@Log_Name,@Data, @Livello, @Messaggio, @Eccezione,@Extra_Info">
				<parameter name="@Machine" layout="${machinename}" />
				<parameter name="@Applicativo" layout="${var:appName}" />
				<parameter name="@Data" layout="${date}" />
				<parameter name="@Log_Name" layout="${logger}" />
				<parameter name="@Livello" layout="${level}" />
				<parameter name="@Messaggio" layout="${message}" />
				<parameter name="@Eccezione" layout="${exception:format=tostring,method,stacktrace:maxInnerExceptionLevel=5:separator=|}" />
				<parameter name="@Extra_Info" layout="${event-properties:item=extraInfo}" />
		</target>
	<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<!-- Levels: Off, Trace, Debug, Info, Warn, Error, Fatal -->
		<logger name="*" minlevel="Warn" writeTo="dbTarget"/>
		<logger name="*" minlevel="Warn" writeTo="console" />
		<!--<logger name="*" minlevel="Error" writeTo="mail" enabled="true"/>-->
	</rules>

</nlog>
